* {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Gotham Pro";
  src: url(../fonts/GothamProRegular.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Roboto Light";
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Gotham Bold";
  src: url(../fonts/GothamProBold.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro Light";
  src: url(../fonts/MyriadPro-Light.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: url(../fonts/MyriadPro-Regular.ttf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Myriad Pro Bold";
  src: url(../fonts/MyriadPro-Bold.otf);
  font-weight: 700;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:focus {
    outline: none; }
  *:visited {
    outline: none; }

body, h1 {
  font-family: 'Myriad Pro', sans-serif; }

body {
  background: #FFF; }

.wrapper {
  overflow: hidden; }

.background-01,
.background-02,
.background-03,
.background-04,
.background-05,
.background-06,
.background-07,
.background-08,
.background-09 {
  position: absolute; }

@media screen and (max-width: 2559px) {
  .background-01 {
    bottom: 15%;
    left: -28%; }
  .background-02 {
    bottom: 5%;
    left: -28%; }
  .background-03 {
    bottom: 5%;
    left: -40%; }
  .background-09 {
    bottom: 3.5%;
    left: -20%; }
    .background-09 img {
      -webkit-transform: scale(0.7);
          -ms-transform: scale(0.7);
              transform: scale(0.7); }
  .background-04 {
    bottom: 15%;
    right: -40%; }
  .background-05 {
    bottom: 15%;
    right: -20%; }
  .background-06 {
    bottom: 5%;
    right: -30%; }
  .background-07 {
    bottom: 5%;
    right: -40%; }
  .background-08 {
    bottom: 5%;
    right: -15%; } }

@media screen and (max-width: 1920px) {
  .background-01 {
    top: 8%;
    left: -20%; }
  .background-02 {
    top: 18%;
    left: -20%; }
  .background-03 {
    top: 48%;
    left: -20%; }
  .background-09 {
    top: 32%;
    left: -20%; }
  .background-04 {
    top: 8%;
    right: -20%; }
  .background-05 {
    top: 18%;
    right: -20%; }
  .background-06 {
    top: 28%;
    right: -20%; }
  .background-07 {
    top: 38%;
    right: -20%; }
  .background-08 {
    top: 48%;
    right: -20%; } }

@media screen and (max-width: 1366px) {
  .background-01 {
    top: 8%;
    left: -20%; }
  .background-02 {
    top: 18%;
    left: -20%; }
  .background-03 {
    top: 38%;
    left: -20%; }
  .background-04 {
    top: 8%;
    right: -20%; }
  .background-05 {
    top: 18%;
    right: -20%; }
  .background-06 {
    top: 28%;
    right: -20%; }
  .background-07 {
    top: 38%;
    right: -20%; }
  .background-08 {
    top: 48%;
    right: -20%; } }

.service-block-edit, .family-block-edit, .personal-block-edit {
  display: none; }

.service-block-edit.active, .family-block-edit.active, .personal-block-edit.active {
  display: block; }

.family-block-edit .left-side__container {
  margin-bottom: 0px; }

.service-block-edit .left-side__container {
  margin-bottom: 0px; }

.content {
  font-size: 14px; }

body.back {
  background: #FFF; }

.kvs-select {
  width: 100% !important; }

.family-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%; }

@media screen and (max-width: 1024px) {
  .family-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.birthday select {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 30px;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 2px 2px 3px 1px #AAA;
          box-shadow: 2px 2px 3px 1px #AAA; }
  .birthday select:nth-child(2) {
    margin: 0 15px; }

.header {
  background: #333; }
  .header .container {
    background: transparent;
    padding: 0px; }
  .header .ul_out {
    margin-bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .header .ul_out .ul_out__li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-right: 1px solid #FFF;
      position: relative; }
      .header .ul_out .ul_out__li:before {
        content: '';
        position: absolute;
        height: 0px;
        background: #f17a42;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
      .header .ul_out .ul_out__li:first-child {
        border-left: 1px solid #FFF; }
      .header .ul_out .ul_out__li:hover:before {
        height: 3px; }
      .header .ul_out .ul_out__li:hover .ul_inner {
        max-height: 400px; }
      .header .ul_out .ul_out__li a {
        text-transform: uppercase;
        display: block;
        color: #fff;
        font: 14px "Myriad pro", sans-serif;
        text-transform: uppercase;
        padding: 12px 15px 11px;
        text-decoration: none;
        position: static; }

.ul_inner {
  position: absolute;
  top: 100%;
  z-index: 100;
  left: 0;
  max-height: 0px;
  display: block;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }
  .ul_inner li {
    display: block;
    background: #333;
    width: 200px; }
    .ul_inner li:hover {
      text-decoration: underline; }
    .ul_inner li a {
      display: block;
      padding: 12px 15px 11px; }

.mob-hamburger {
  display: none; }

.count {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #f17a42;
  width: 20px;
  height: 20px;
  color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.container {
  background: #efefef;
  position: relative; }

.left-side__container {
  margin-bottom: 80px; }

.text-head {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Myriad Pro Bold', sans-serif; }

.text-head_center {
  text-align: center; }

.text-main {
  color: #70706f;
  font-size: 16px;
  font-weight: 400; }

.text-main_small {
  font-size: 14px; }

.text-descr {
  color: #b2b2b2;
  font-size: 11px;
  font-weight: 400; }

.lk-block {
  padding: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.left-side, .center-side, .right-side {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33%;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  padding: 0 15px; }

.center-side {
  border-left: 2px dotted #DDD;
  border-right: 2px dotted #DDD; }

.photo-wrapper {
  padding: 15px 0; }

.photo-wrapper__img {
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 auto;
  position: relative; }
  .photo-wrapper__img img {
    height: 100%;
    width: 100%;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

.photo-wrapper__img_no-border-radius img {
  -webkit-border-radius: 0%;
          border-radius: 0%; }

.photo-wrapper__plus {
  width: 31px;
  height: 31px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer; }

.photo-wrapper__plus_position {
  bottom: -20px;
  right: -30px; }

.tooltip {
  position: absolute;
  background: #FFF;
  opacity: 0;
  padding: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-size: 9px;
  max-width: 100px; }
  .tooltip:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FFF;
    top: 0;
    left: 10px;
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg); }

.tooltip_nowrap {
  white-space: nowrap; }

.photo-wrapper__plus:hover .tooltip {
  opacity: 1;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%); }

.button-edit:hover .tooltip {
  opacity: 1;
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%); }

.left-side .text-descr {
  width: 53%;
  margin: 0 auto 20px; }

.left-side .text-descr_wide {
  width: 100%; }

.name {
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 20px; }

.wrapper_with-underline {
  border-bottom: 1px solid #000;
  display: inline-block;
  position: relative;
  line-height: 10px; }

.visibility {
  position: absolute;
  top: 0;
  right: -20%;
  background: none;
  z-index: 10;
  cursor: pointer; }
  .visibility img {
    width: 100%; }
  .visibility .tooltip {
    z-index: 10; }
  .visibility:hover .tooltip {
    -webkit-transform: translateY(30%);
        -ms-transform: translateY(30%);
            transform: translateY(30%);
    opacity: 1; }

.img-wrapper {
  padding: 15px 0; }

.img-wrapper_small {
  width: 50%;
  margin: 0 auto; }

.text-head_thin {
  font-weight: 100;
  font-family: 'Myriad pro bold', sans-serif; }

.input__label {
  color: #b2b2b2;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px; }

.SumoSelect {
  display: block;
  width: 100%; }
  .SumoSelect .CaptionCont {
    width: 100%;
    position: relative;
    z-index: 9;
    display: block;
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px 1px #AAA;
            box-shadow: 2px 2px 3px 1px #AAA; }
    .SumoSelect .CaptionCont span {
      color: #333;
      font-family: "Myriad Pro";
      font-size: 11px;
      font-weight: 400; }
    .SumoSelect .CaptionCont:hover {
      -webkit-box-shadow: 2px 2px 3px 1px #AAA;
              box-shadow: 2px 2px 3px 1px #AAA;
      border: none;
      outline: none; }
    .SumoSelect .CaptionCont:focus {
      -webkit-box-shadow: 2px 2px 3px 1px #AAA;
              box-shadow: 2px 2px 3px 1px #AAA;
      border: none;
      outline: none; }
    .SumoSelect .CaptionCont:visited {
      -webkit-box-shadow: 2px 2px 3px 1px #AAA;
              box-shadow: 2px 2px 3px 1px #AAA;
      border: none;
      outline: none; }
    .SumoSelect .CaptionCont label {
      width: 100%;
      margin-bottom: 0px; }
      .SumoSelect .CaptionCont label i {
        margin: 3px 10px 0 auto;
        background: url(../img/arrow.png) center center no-repeat; }

.SumoSelect.open .CaptionCont, .SumoSelect:focus .CaptionCont, .SumoSelect:hover .CaptionCont {
  -webkit-box-shadow: 2px 2px 3px 1px #AAA;
          box-shadow: 2px 2px 3px 1px #AAA;
  border: none;
  outline: none; }

.input {
  margin-bottom: 18px; }

textarea {
  width: 100%;
  height: 60px;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 2px 2px 3px 1px #AAA;
          box-shadow: 2px 2px 3px 1px #AAA;
  padding: 10px;
  resize: none; }

.input__field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .input__field input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 0 0 20px;
    height: 30px;
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 3px 1px #AAA;
            box-shadow: 2px 2px 3px 1px #AAA; }

.input__logo {
  width: 34px; }

.button-edit {
  width: 31px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  margin-left: 20px; }

.input__checkbox {
  padding: 5px 0; }
  .input__checkbox label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .input__checkbox label .input__checkbox__square {
      width: 12px;
      height: 12px;
      border: 1px solid #f17a42;
      margin-right: 9px;
      position: relative; }
      .input__checkbox label .input__checkbox__square:after {
        content: '';
        display: none;
        position: absolute;
        width: 12px;
        height: 5px;
        border-bottom: 1px solid #f17a42;
        border-left: 1px solid #f17a42;
        top: 20%;
        left: 70%;
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            -ms-transform: translate(-50%, -50%) rotate(-45deg);
                transform: translate(-50%, -50%) rotate(-45deg); }
    .input__checkbox label input[type="checkbox"] {
      display: none; }
      .input__checkbox label input[type="checkbox"]:checked ~ .input__checkbox__square:after {
        display: block; }

.btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

input[type="submit"] {
  background: -webkit-gradient(linear, right top, left top, from(#f26522), to(#fd7801));
  background: -webkit-linear-gradient(right, #f26522, #fd7801);
  background: -o-linear-gradient(right, #f26522, #fd7801);
  background: linear-gradient(to left, #f26522, #fd7801);
  border: none;
  outline: none;
  width: 101px;
  height: 31px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding: 0px; }
  input[type="submit"]:hover {
    -webkit-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
            transform: translateY(-5%);
    -webkit-box-shadow: 0px 3px 10px #999;
            box-shadow: 0px 3px 10px #999; }

.delete {
  background: #b2b2b2;
  border: none;
  outline: none;
  width: 101px;
  height: 31px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px; }

.radio-choice__radio {
  margin: 15px 0; }

.radio-choice__radio__circle {
  width: 13px;
  height: 13px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #f17a42;
  display: inline-block;
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 13px;
      -ms-flex: 0 1 13px;
          flex: 0 1 13px; }
  .radio-choice__radio__circle:after {
    content: '';
    position: absolute;
    display: block;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #f17a42;
    top: 1px;
    left: 1px;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }

.radio-choice__radio__text {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.radio-choice__radio__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

input[type="radio"] {
  display: none; }
  input[type="radio"]:checked ~ .radio-choice__radio__circle:after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

.news {
  margin-bottom: 25px;
  text-decoration: underline; }

.news__head {
  font-family: 'Myriad pro bold', sans-serif;
  font-weight: 700;
  color: #000; }

.news__main {
  color: #70706f;
  text-decoration: underline; }

.news__date {
  margin-top: 10px;
  color: #b2b2b2;
  text-decoration: underline; }

.second-screen {
  border-top: 1px solid #f07e1a;
  border-bottom: 1px solid #f07e1a;
  display: block; }

.service__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.center-side {
  position: relative; }

.text-wrapper-big-tooltip {
  background: -webkit-gradient(linear, right top, left top, from(#fd7801), to(#f26522));
  background: -webkit-linear-gradient(right, #fd7801, #f26522);
  background: -o-linear-gradient(right, #fd7801, #f26522);
  background: linear-gradient(to left, #fd7801, #f26522);
  padding: 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position: relative;
  z-index: 10;
  margin-bottom: 20px; }

.text-wrapper-big-tooltip_tooltip-tail {
  position: absolute;
  z-index: 5;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg) translate(-50%);
      -ms-transform: rotate(45deg) translate(-50%);
          transform: rotate(45deg) translate(-50%);
  top: 0px;
  left: 50%;
  background: #f86f11; }

.text-head_white {
  color: #fff;
  text-align: right;
  margin-bottom: 10px; }

.text-main_white {
  color: #FFF; }

.input__field_diff-size input {
  width: 100%;
  margin: 0; }

.input__field_diff-size textarea {
  height: 128px; }

.input__field_date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .input__field_date input {
    width: 30%;
    margin: 0; }
    .input__field_date input:nth-child(2) {
      margin: 0 20px; }
    .input__field_date input::-webkit-input-placeholder {
      color: #DDD; }
    .input__field_date input::-moz-placeholder {
      color: #DDD; }
    .input__field_date input:-ms-input-placeholder {
      color: #DDD; }
    .input__field_date input::-ms-input-placeholder {
      color: #DDD; }
    .input__field_date input::placeholder {
      color: #DDD; }

.third-screen {
  display: block; }

.modal-content {
  text-align: center;
  padding: 20px;
  position: relative;
  background: #efefef; }
  .modal-content .modal-header {
    border: none; }
    .modal-content .modal-header .modal-title {
      font-family: 'Myriad pro bold', sans-serif;
      font-weight: bold;
      font-size: 18px; }
    .modal-content .modal-header .close {
      position: absolute;
      top: 10px;
      right: 10px; }
  .modal-content .modal-footer {
    border: none; }
    .modal-content .modal-footer .btn-primary {
      float: left;
      width: 175px;
      height: 40px;
      background: transparent;
      border: 1px solid gray;
      outline: none;
      margin-bottom: 10px;
      color: gray; }
    .modal-content .modal-footer .btn-secondary {
      float: right;
      width: 175px;
      height: 40px;
      padding: 10px 20px;
      background: transparent;
      border: 1px solid black;
      outline: none;
      margin-bottom: 10px;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      position: relative;
      color: #FFF;
      background: #fd7801;
      border: none;
      cursor: pointer; }
  .modal-content .modal-body {
    text-align: center; }
    .modal-content .modal-body input {
      width: 100%;
      height: 40px;
      padding: 5px;
      color: #333;
      background: transparent;
      border: 1px solid #333; }
    .modal-content .modal-body textarea {
      width: 100%;
      height: 100px;
      padding: 5px;
      color: #333;
      background: transparent;
      border: 1px solid #333; }
      .modal-content .modal-body textarea:focus {
        outline: none; }
    .modal-content .modal-body .name_field {
      margin: 10px 0; }

.name_field_center {
  text-align: center; }

#edit_visibility {
  position: absolute;
  display: none;
  top: 100%;
  z-index: 100;
  width: 300px;
  text-align: left;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-shadow: 2px 2px 3px 1px #AAA;
          box-shadow: 2px 2px 3px 1px #AAA;
  background: #efefef;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #f17a42; }

.visibility__container {
  padding: 15px; }

.visibility__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0; }
  .visibility__row label {
    margin-bottom: 0px; }
  .visibility__row .input__checkbox {
    padding: 0px; }

.visibility__name {
  font-family: 'Myriad pro bold', sans-serif; }

@media screen and (max-width: 1024px) {
  .container {
    width: 100%; }
  .lk-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .service__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .left-side, .center-side, .right-side {
    width: 100%;
    padding: 0px; }
  .left-side {
    padding-bottom: 25px;
    border-bottom: 1px solid #f07e1a;
    margin-bottom: 49px; }
  .center-side {
    margin-bottom: 21px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f07e1a; }
  .left-side__container, .center-side__container, .right-side__container {
    width: 410px;
    margin: 0 auto; }
  .center-side {
    border-right: none;
    border-left: none; }
  .second-screen .center-side, .second-screen .left-side {
    border: none; }
  .second-screen .center-side {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .second-screen .left-side {
    margin-bottom: 0px; }
  .text-wrapper-big-tooltip_tooltip-tail, .text-wrapper-big-tooltip {
    display: none; }
  .third-screen .left-side, .third-screen .center-side, .third-screen .right-side {
    border: none; }
  .background-01,
  .background-02,
  .background-03,
  .background-04,
  .background-05,
  .background-06,
  .background-07,
  .background-08,
  .background-09 {
    display: none; } }

.input__field_centered {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px; }
  .input__field_centered .input__logo {
    margin-right: 10px; }

.service {
  text-align: center;
  font-family: "Myriad pro bold", sans-serif;
  color: #b2b2b2;
  text-decoration: underline; }

.btn-wrapper_center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px; }
  .btn-wrapper_center input[type="submit"] {
    font-family: 'Myriad pro bold';
    width: 140px; }

.service_name {
  color: #000; }

.service_short {
  width: 200px;
  margin: 10px auto;
  text-align: left; }

.btn-wrapper_margin-top {
  margin-top: 114px; }

.lk-block_no-padding-bottom {
  padding: 50px 0 0px; }

.lk-block_no-padding {
  padding: 0px; }

.second-screen_no-border {
  border: none; }

.left-side_padding-top {
  padding-top: 50px; }

.input__output_modified {
  text-decoration: underline;
  font-family: 'Myriad pro'; }

.input__output_on {
  color: #f17a42; }

.lk-block_padding-bottom {
  padding-bottom: 50px;
  padding-top: 30px; }

@media screen and (max-width: 1024px) {
  .btn-wrapper_margin-top {
    margin-top: 20px; }
  .second-screen_no-border {
    border-top: 1px solid #f17a42; }
  .lk-block_no-padding {
    padding-top: 50px; }
  .lk-block_padding-bottom {
    padding-top: 0px;
    padding-bottom: 0px; } }

@media screen and (max-width: 950px) {
  .header {
    position: relative; }
    .header .ul_out {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 9999;
      background: #333; }
      .header .ul_out .ul_out__li {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        border: none; }
        .header .ul_out .ul_out__li:first-child {
          border: none; }
        .header .ul_out .ul_out__li a {
          position: relative; }
  .count {
    top: 0;
    right: 0; }
  .ul_inner {
    display: none; }
  .mob-hamburger {
    height: 51px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 30px; }
  .mob-hamburger__line {
    width: 30px;
    height: 2px;
    background: #FFF;
    position: relative;
    display: block; }
    .mob-hamburger__line:before, .mob-hamburger__line:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background: #FFF; }
    .mob-hamburger__line:before {
      top: -10px; }
    .mob-hamburger__line:after {
      bottom: -10px; } }

@media screen and (max-width: 768px) {
  .left-side__container, .center-side__container, .right-side__container {
    max-width: 300px;
    margin: 0 auto; }
  #edit_visibility {
    -webkit-transform: translate(-80%, 0);
        -ms-transform: translate(-80%, 0);
            transform: translate(-80%, 0); } }

.btn-wrapper.btn-wrapper_center .add-family-btn {
  font-family: 'Myriad Pro';
  width: 200px; }

.btn-wrapper .change-contacts {
  width: 150px; }

.right-side__container {
  padding-bottom: 30px; }

.search_bar {
  position: relative; }

.search_bar__text-under {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 20px;
  font-size: 12px; }

.search_input {
  display: none;
  margin: 0 20px 0 0; }

.search_bar__nav-bar {
  position: absolute;
  top: 5px;
  left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.search_bar__nav {
  margin-right: 20px;
  font-size: 14px;
  cursor: pointer; }
  .search_bar__nav:last-child {
    margin-right: 0px; }

.search_input.active {
  display: block; }

.search_bar__nav.active {
  font-weight: bold; }
